<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="DBType" value="2"/>
        <add key="DBServer" value="172.29.140.156\fis_cmd"/>
        <add key="DBUser" value="cmd"/>
        <add key="DBPwd" value="password1!"/>
        <add key="DBCatalog" value="DEV_CMD"/>
        <add key="IsLogPwd" value="Y"/>
        <add key="IsAutoLogin" value="N"/>
        <add key="DefaultSavePath" value="E:\Work\CMD2.0\实体"/>
        <add key="XMLSavePath" value="E:\Work\CMD2.0\XML\"/>
        <add key="GenerateTable" value="E:\Work\CMD2.0\Script\"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
